* {
	margin: 0;
	padding: 0;
}

/**------------------Back to Index------------------**/

a {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: #fff200;
}

h2 {
	font-family: "PT Mono";
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.1em;
	color: white;
	text-align: left;
	position: absolute;
	top: 30px;
	left: 30px;
}

/**------------------Content------------------**/

h1 {
	font-family: "PT Mono";
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
}

p {
	font-family: "PT Mono";
	font-size: 16px;
	font-weight: lighter;
	line-height: 180%;
}

.essay {
	max-width: 800px;
	background-color: white;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 150px;
	padding: 40px;
}